{% extends 'layouts/base.html.twig' %}

{% block body %}
    <br><br><br><br>
    <h2 class="text-center">Profile</h2>
    <br>
	{%  for msg in app.session.flashBag.get('success')  %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {%  endfor  %}

    {%  for msg in app.session.flashBag.get('errors')  %}
        <div class="alert alert-danger">
            {{ msg }}
        </div>
    {%  endfor  %}

    <br><br>
    <div class="row">
        <div class="col-lg">
            <article>
                <header>
                    <h3>Welcome {{ contact.firstNmae|default(user.username) }} {{ contact.lastName|default(null) }}</h3>
                </header>
                <br>
                <p class="author">
                    Username: {{ user.username }}
                </p>

                <p class="author">
                    First Name: {{ contact.firstNmae|default(null) }}
                </p>

                <p class="author">
                    Last Name: {{ contact.lastName|default(null) }}
                </p>
                <p class="author">
                    Phone: {{ contact.phone|default(null) }}
                </p>
                <p class="author">
                    Address: {{ contact.address|default(null) }}
                </p>
                <footer>
                    {% if app.getUser() %}
                        {% if contact == null %}
                            <a class="btn btn-info btn-xs" href="{{ path('user_create_contact') }}">Create Contact</a>
                        {% else %}
                            <a class="btn btn-info btn-xs" href="{{ path('user_edit_contact') }}">Edit Contact</a>
                        {% endif %}
                        <a class="btn btn-warning btn-xs" href="">Change Password</a>
                    {% endif %}
                </footer>
            </article>
        </div>
    </div>
    <br><br>
    
{% endblock %}
