{% extends 'layouts/base.html.twig' %}

{% block body %}
    <br><br><br><br>
    <h2 class="col text-center">Register</h2>
    <br>
	{%  for msg in app.session.flashBag.get('success')  %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {%  endfor  %}

    {%  for msg in app.session.flashBag.get('errors')  %}
        <div class="alert alert-danger">
            {{ msg }}
        </div>
    {%  endfor  %}

	<div class="row  mt-3">
        <form class="form-horizontal col-lg-5 offset-lg-3" action="{{ path('user_register') }}" method="post">
            <fieldset>
                <div class="form-group">
                    <label class="col control-label" for="user_username">Username</label>
                    <div class="col">
                        <input type="text" class="form-control" id="user_username" placeholder="Username" name="user[username]" required value="{{ user.username|default(null) }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col control-label" for="user_email">Email</label>
                    <div class="col">
                        <input class="form-control" id="user_email" placeholder="Email" name="user[email]"  type="email" required value="{{ user.email|default(null) }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col control-label" for="user_password_first">Password</label>
                    <div class="col">
                        <input type="password" class="form-control" id="user_password_first" placeholder="Password" name="user[password][first]" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col control-label" for="user_password_second">Confirm Password</label>
                    <div class="col">
                        <input type="password" class="form-control" id="user_password_second" placeholder="Confirm Password" name="user[password][second]" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 float-right">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </div>

                {{  form_row(form._token) }}
            </fieldset>
        </form>
    </div>
    <br><br><br><br>
    
{% endblock %}
