{% extends 'layouts/base.html.twig' %}

{% block body %}
    <br><br><br><br>
    <h2 class="text-center">Edit Car</h2>
    <br>

    {%  for msg in app.session.flashBag.get('success')  %}
    <div class="alert alert-success">
        {{ msg }}
    </div>
    {%  endfor  %}

    {%  for msg in app.session.flashBag.get('errors')  %}
        <div class="alert alert-danger">
            {{ msg }}
        </div>
    {%  endfor  %}
    <div class="row">
        <div class="col-sm-4">
            <img src="{{ asset('uploads/images/cars/' ~ car.image ) }}" width="400px" height="200px">
        </div>
        <div class="col-sm-6 offset-sm-1 mt-3">
        <form name="authenticate" class="form-horizontal" action="{{ path('car_edit', {id: car.id}) }}" method="post" enctype="multipart/form-data">
            <fieldset>
                <div class="form-group">
                    <label class="col control-label" for="car_make">Make</label>
                    <div class="col ">
                        <input type="text" class="form-control" id="car_make" placeholder="Make" name="car[make]" value="{{ car.make }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col control-label" for="car_model">Model</label>
                    <div class="col">
                        <input type="text" class="form-control" id="car_model" placeholder="Model" name="car[model]" value="{{ car.model }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col control-label" for="car_year">Year</label>
                    <div class="col">
                        <input type="text" class="form-control" id="car_year" placeholder="Year" name="car[year]" value="{{ car.year}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col control-label" for="car_power">Power</label>
                    <div class="col">
                        <input type="text" class="form-control" id="car_power" placeholder="Power" name="car[power]" value="{{ car.power }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col control-label" for="car_travelledDistance">Travelled Distance</label>
                    <div class="col">
                        <input type="text" class="form-control" id="car_travelledDistance" placeholder="Travelled Distance" name="car[travelledDistance]" value="{{ car.travelledDistance }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col control-label" for="car_color">Color</label>
                    <div class="col">
                        <input type="text" class="form-control" id="car_color" placeholder="Color" name="car[color]" value="{{ car.color }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col control-label" for="car_city">City</label>
                    <div class="col">
                        <input type="text" class="form-control" id="car_city" placeholder="City" name="car[city]" value="{{ car.city }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col control-label" for="car_note">Note</label>
                    <div class="col">
                        <textarea class="form-control" rows="6" id="car_note"name="car[note]">{{ car.note }}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col control-label" for="car_price">Price (EUR)</label>
                    <div class="col">
                        <input type="text" class="form-control" id="car_price" placeholder="Price" name="car[price]" value="{{ car.price }}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col control-label" for="car_image">Upload Image</label>
                    <div class="col">
                        <input type="file" accept=".png, .jpg" class="form-control" id="car_image" placeholder="Upload Image" name="car[image]">
                    </div>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    </div>
    
    <br><br><br><br>
{% endblock %}